.fade-in , body{ 
    animation: fadeInAnimation ease 2s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 


*{
    box-sizing: border-box;
    font-family: 'Josefin Sans',sans-serif;
}

body{
    background: url(imgs/cover-img.jpg)  no-repeat  fixed;
    background-size: cover;
}

.nav-buttons{
    border-radius: 0%;
}

.welcome-page{
    background: rgba(0, 0, 0, 0.8) !important;
    color: white;
}
.header{
    color: rgb(203, 32, 45,0.8);
}
.welcome-content ol>li{
    margin: 2%;
    font-size: 130%;
}

.input-container{
    margin: auto;
    margin-top: 2% !important;
}

.input-container .input-content{
    background: rgba(0, 0, 0, 0.8) !important;
}

.pos-r{
    position: relative;
}

.input-title{
    background-color: rgb(0, 128, 128, 0.8) !important;
}

.input-container  .input-header{
    padding: 10px 30px; 
    letter-spacing: 2.5px; 
    font-family: 'Oswald'; 
    font-variant: small-caps;
}

.input-container, .input-container a,.input-container input{
    color: #ffffff;
}

.input-container .input-title span strong{
   color: #4bccff;
}

.input-container .input-body{
    padding: 5px 15px;
}

.input-container .input-body input.form-control{
    background: rgba(0, 0, 0, 0.8);
    height: 50px;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    border-left: 3px solid transparent;
    font-size: 16px;
    -o-transition:all .5s;
    -webkit-transition:all .5s;
    transition:all .5s;
}

.input-container .input-body input.form-control:focus{
    border-color: rgb(203, 32, 45,0.8);
}

.input-container .input-body input.form-control + i{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    -o-transition:all .5s;
    -webkit-transition:all .5s;
    transition:all .5s;
}

.active{
    background-color: rgba(0, 0, 0, 0.651) !important;
    border: 1px solid  rgba(0, 0, 0, 0.651) !important;
}

.input-container .input-body input.form-control:focus + i{
    color: rgb(203, 32, 45);
}


.input-container .input-body button{
    background-color:  rgb(203, 32, 45,0.8);
    border:0px;
    height: 50px;
    letter-spacing: normal;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font-size: 20px;
    font-weight: normal;
    transition: all 0.5s;
}


.input-body button:hover{
    font-weight: bold;
    background-color: hsla(210, 10%, 23%, 0.664);
    color: rgb(203, 32, 45);
    letter-spacing: 5px !important;
}

input[type=number] {
    -moz-appearance: textfield;
}

thead{
    background-color: rgba(203, 32, 46, 0.678) !important;
}

.students-container{
    background-color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5%;
}

.mentorname{
    font-size: 150%;
    color: #ffffff;
    
    padding: 1px 0px 1px 0px;
}

.select-options{
    padding: 0px;
}

select{
    text-align: center;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

#selectbtn{
    background-color: rgba(203, 32, 46);
    margin:0px;
    color: white;
    border-radius: 0px;
    border: 0px;
    letter-spacing: normal;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    transition: all 0.5s;
}

#selectbtn:hover{
    background-color:  hsla(210, 10%, 23%, 0.664);
    letter-spacing: 5px !important;
}

.AssignModal{
    z-index: 999;
}